---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../pages/styles/global.css';

const pageTitle = "About Me";

const identity = {
	firstName: "Anton",
	lastName: "Pershin",
	country: "Russia",
	occupation: "Software Engineer",
	hobbies: ["Walking", "Reading", "Coding"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Writing Doc", "Node.js"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "green";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<style define:vars={{skillColor, fontWeight, textCase}}>
		.skill {
			color: var(--skillColor);
			text-weight: var(--textCase);
			font-weight: var(--fontWeight);
		}
	</style>
	<body>
        <Header />

		<h1>{pageTitle}</h1>
        <h2>... and my new website about walking!</h2>
        <p>I want to share my success in walking. To motivate other people to walk and be healthy!</p>
        <p>This website will be updated as I achieve any successes or failures, so keep coming back and follow my journey!</p>
		<p>Here are a few facts about me:</p>
		<ul>
			<li>My name is {identity.firstName} {identity.lastName}.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			{identity.hobbies.length >= 2 &&
			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			}
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>
		{happy && <p>I am happy that I can walk!</p>}
		{finished && <p>I finished this tutorial!</p>}
		{goal === 3 ? <p>My goal is to walk every 3 days.</p> : <p>My goal is not 3 days.</p>}
		<Footer />
	</body>
</html>